@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.graph-container {
    height: 500px !important;
    max-height: 500px !important;
}

.apexcharts-line {
    stroke-width: 2px !important;
    stroke: #0121fb !important;
}

.apexcharts-marker,
.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip,
.apexcharts-xaxis-texts-g,
.apexcharts-xaxis-tick {
    opacity: 0 !important;
    display: none !important;
}

.apexcharts-gridline {
    stroke: #6e6e6e !important;
}

.apexcharts-text tspan,
.apexcharts-title-text {
    color: #6e6e6e !important;
    stroke: none !important;
}
